// badge
@layer components {
    .badge {
        @apply w-5 h-5 py-1 text-xs text-white font-nunito font-bold bg-red-600 left-0 rounded-full text-center shadow-sm;
        display: inline-block;
        position: absolute;
        top: -2px;
        margin-left: 16px;
        font-size: 11px;
        line-height: 1;
    }
}

//menu
@layer components {
    .mobile-push-menu {
        @apply fixed left-0 top-0 px-10 py-2 flex flex-col justify-between min-h-full bg-gray-200 border border-gray-200 shadow-2xl transition-transform duration-500 ease-in-out;
        width: calc(100% - 4rem);
        transform: translateX(calc(-1 * 100% - 4rem));
        max-width: 300px;
        &__show {
            transform: translateX(0);
        }
        .edit-pencil {
            @apply w-8 h-8 bg-gray-200 p-1 -m-1.5 rounded-full text-center text-gray-500 absolute top-0 right-0 border-2 border-blue-500 text-2xl;
        }
    }
    .back-shadow {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        @apply bg-gray-50 bg-opacity-75;
    }
}